*{
  margin: 0;
  padding: 0;
}

.navigate nav{
    width:100%;
    height:auto;
    border-style: solid;
    border-color: darkgray;
}

.navigate {
  background-color: white;
  padding: 15px 0;
  text-align: left;
}

.navigate ul li {
  display: inline;
  margin: 10px;
}

.navigate ul li a {
  text-decoration: none;
  color: rgb(128, 128, 255);
  font-size: 16px;
}

.hovername{
  position: relative;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 550px;
}

.hover {
  position: absolute;
  top: 90%;
  left: 43%;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: 0.4s;
}

.hovername:hover .hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.312);
  padding: 10px 20px;
}

.aboutme {
  text-align: center;
  margin: 20px 0;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about {
  font-size: 25px;
  margin-top: 15px;
  color:darkcyan;
}
.text {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.divider {
  width: 50%;
  height: 2px;
  background-color: darkcyan;
  margin: 20px auto;}

.mywork {
  padding: 10px;
  background-color: #dfdcdc;
  text-align: center;
}

.work1 h2{
  text-decoration: overline;
  color:darkcyan;
}
.work2 {
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.work2 img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.myphotos h2 {
  margin-top: 10px;
  padding: 45px;
  text-align: center;
  color:darkcyan;
  text-decoration:overline dashed;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.photos img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
